<div id="navSide">
    <a href="/"><img src="/img/globus.png" alt="globus.png"></a>

    <h2>Menu</h2>
    
    <button type="button" class="side">Neuste ▼</button>
    <div class="Content">
        <% if (create.length > 0) { %>
            <% create.slice(0, 5).forEach(article => { %>
            	<li>
                    <a href="/articles/<%= article._id %>">
                        <p class="menu"><%= article.title %></p>
                    </a>
                </li>
            <% }) %>
        <% } else { %>
            <p>Keine passenden Artikel gefunden</p>
        <% } %>
    </div>

    <button type="button" class="side">Zuletzt verändert ▼</button>
    <div class="Content">
        <% if (update.length > 0) { %>
            <% update.slice(0, 5).forEach(article => { %>
            	<li>
                    <a href="/articles/<%= article._id %>">
                        <p class="menu"><%= article.title %></p>
                    </a>
                </li>
            <% }) %>
        <% } else { %>
            <p>Keine passenden Artikel gefunden</p>
        <% } %>
    </div>

    <button type="button" class="side">Inhalt mit "Test" ▼</button>
    <div class="Content">
        <% if (all.length > 0) { %>
            <% all.slice(0, 5).forEach(article => { %>
                <% console.log(article.keywords) %>
                <% if (article.keywords == "test") { %>
                    <li>
                        <a href="/articles/<%= article._id %>">
                            <p class="menu"><%= article.title %></p>
                        </a>
                    </li>
                <% } %>    
            <% }) %>
        <% } else { %>
            <p>Keine passenden Artikel gefunden</p>
        <% } %>
        
    </div>

    <button type="button" class="side">Alle Artikel ▼</button>
    <div class="Content">
        <% if (all.length > 0) { %>
            <% all.forEach(article => { %>
            	<li>
                    <a href="/articles/<%= article._id %>">
                        <p class="menu"><%= article.title %></p>
                    </a>
                </li>
            <% }) %>
        <% } else { %>
            <p>Keine passenden Artikel gefunden</p>
        <% } %>
    </div>

</div>

<div id="navTop">
    <nav id="topNav" >
        <ul>
            <li><a class="user" href="/aricles/login">Benutzer</a></li>
            <li><a href="/articles/create">Neuen Artikel erstellen</a></li>
            <input type="text" placeholder="Suche..." id="searchBar">
        </ul>
    </nav>
</div>




<script>




    let coll = document.getElementsByClassName("side");
    let i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    });
} 
</script>


<script>
/*
function click(){

let childNode0 = document.getElementsByClassName('side')[0];
console.log(childNode0)
if (childNode0.classList == 'side active') {
    sessionStorage.setItem('childNode0', true)
} if (childNode0.classList == 'side') {
    sessionStorage.setItem('childNode0', false)
} if (sessionStorage.getItem('childNode0') == true) {
    console.log("click")
    childNode0.click();
    sessionStorage.setItem('childNode0', false)
}

let childNode1 = document.getElementsByClassName('side')[1];
if (childNode1.classList == 'side active') {
    sessionStorage.setItem('childNode1', true)
} if (sessionStorage.getItem('childNode1') == true) {
    childNode1.click();
    sessionStorage.setItem('childNode1', false)
}

let childNode2 = document.getElementsByClassName('side')[2];
if (childNode2.classList == 'side active') {
    sessionStorage.setItem('childNode2', true)
} if (sessionStorage.getItem('childNode2') == true) {
    childNode1.click();
    sessionStorage.setItem('childNode2', false)
}

let childNode3 = document.getElementsByClassName('side')[3];
if (childNode3.classList == 'side active') {
    sessionStorage.setItem('childNode3', true)
} if (sessionStorage.getItem('childNode3') == true) {
    childNode1.click();
    sessionStorage.setItem('childNode3', false)
}
}


for(i = 0; i < coll.length; i++) {
coll[i].addEventListener("click", function click() { 
    click()
}
)}

window.onload = click()

*/
</script>
