<html lang="de">
<%- include("./partials/head.ejs") %>

<body>

  <%- include("./partials/menu.ejs") %>


  <div class="detailsContent">
    <h2><%= article.title %></h2>
    <h5><%= article.snippet %></h5>
    <div class="content">
      <p><%= article.body %></p>
    </div>
    <div class="links">
      <a class="home" href="/">Home</a>
      <a class="edit" href="/articles/edit/<%= article._id %>">Edit</a>
      <a class="delete" data-doc="<%= article._id %>">delete</a>
    </div>
  </div>

  <script>
    const trashcan = document.querySelector('a.delete');
    trashcan.addEventListener('click', (e) => {
      const endpoint = `/articles/${trashcan.dataset.doc}`;
      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    
  </script>

<%- include("./partials/search.ejs") %>

</body>
</html>