<html lang="de">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/menu.ejs") %>


  <div class="articlesContent">
    <h2><%= heading %></h2>    

    <% if (all.length > 0) { %>
      <% all.slice(0, 1).forEach(article => { %>
        <div class="firstArticle">
          <a class="single" href="/articles/<%= article._id %>">
            <h3 class="title"><%= article.title %></h3>
            <p class="snippet"><%= article.snippet %></p>
            <p class="body"><%= article.body %></p>
          </a>
        </div>
        <% }) %>
    
      <% all.slice(1, 2).forEach(article => { %>
        <div class="secondArticle">
          <a class="single" href="/articles/<%= article._id %>">
            <h3 class="title"><%= article.title %></h3>
            <p class="snippet"><%= article.snippet %></p>
            <p class="body"><%= article.body %></p>
          </a>
        </div>
        <% }) %>
    
      <% all.slice(2, 3).forEach(article => { %>
        <div class="thirdArticle">
          <a class="single" href="/articles/<%= article._id %>">
            <h3 class="title"><%= article.title %></h3>
            <p class="snippet"><%= article.snippet %></p>
            <p class="body"><%= article.body %></p>
          </a>
        </div>
        <% }) %>

      <% all.slice(3, 4).forEach(article => { %>
        <div class="fourthArticle">
          <a class="single" href="/articles/<%= article._id %>">
            <h3 class="title"><%= article.title %></h3>
            <p class="snippet"><%= article.snippet %></p>
            <p class="body"><%= article.body %></p>
          </a>
        </div>
        <% }) %>
    
      <% all.slice(4, 5).forEach(article => { %>
        <div class="fifthArticle">
          <a class="single" href="/articles/<%= article._id %>">
            <h3 class="title"><%= article.title %></h3>
            <p class="snippet"><%= article.snippet %></p>
            <p class="body"><%= article.body %></p>
          </a>
        </div>
        <% }) %>
    
        <div class="allArticles">
          
        </div>

    <% } else { %>
      <p>There are no articles to display...</p>
    <% } %>

    


  </div>

  <%- include("./partials/searchBar.ejs") %>
  

</body>
</html>